---
import SocialIcon from './SocialIcon.astro';
import SocialLinks from '../data/SocialLinks';
---
<div class="overflow-scroll hide-scrollbar">
    <footer id="contact" class="w-[100%] h-auto border border-gray-300 rounded-xl p-16 mb-16 bg-gradient-to-r from-indigo-50 to-yellow-50 my-10 sm:p-10">
        <h1 class="text-3xl font-semibold w-[55%] pt-20 leading-10 sm:w-[90%] sm:leading-[2.8rem]">
            Let's get in touch and build something great together ✨
        </h1>
        <hr class="h-4 mt-8 mb-8">
        <div class="flex justify-between sm:flex-col">
            <div>
                <h3 class="font-medium text-gray-400 mb-5">Connect</h3>
                <a href="mailto:pratikkurilworks@gmail.com" class="font-semibold hover:text-gray-500">pratikkurilworks@gmail.com</a>    
            </div>
            <div class="sm:mt-12">
                <h3 class="font-medium text-gray-400 mb-5">Follow</h3>
                <div class="flex gap-4">
                    {
                        SocialLinks.map((item) => (
                            <SocialIcon  title={item.title} img={item.img} link={item.link} />
                        ))
                    }  
                </div> 
            </div>
        </div>
        <p class="font-medium text-gray-400 mt-4 text-center pt-8">
            Copyright &copy; 2025. All rights reserved.
        </p>
    </footer>
</div>

<style>
:global(.hide-scrollbar) {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
:global(.hide-scrollbar::-webkit-scrollbar) {
    display: none; /* Chrome, Safari, Opera */
}
</style>

