---
import NavData from '../data/NavData';
import NavLink from './NavLink.astro';
import Button from './Button.astro';
---
<nav class="w-[80%] sm:w-[85%] flex justify-between p-1 bg-white fixed z-50 mt-4 top-2 xs:w-[95%]">
    <a href="/#home" class="logo flex items-center" >
        <!-- <img src="/logo.svg" alt="Logo" class="animate-spin"> -->
        <h3 class="text-lg whitespace-nowrap sm:text-md font-semibold">Pratik Kuril</h3>
    </a>
    <ul class="flex gap-4">
        {
            NavData.map((item) => (
                <li class=""> 
                    <NavLink href={item.href} class:list={'font-semibold text-base text-black opacity-50 hover:opacity-100 sm:hidden'}>{item.title}</NavLink>
                </li>
            ))
        }
        <Button class="primary-button whitespace-nowrap text-md mr-0 bg-purple-900" href="#contact">Say Hello!</Button>
        <div class="hidden md:block pr-2 ml-[-0.5rem]" id="open">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 16" stroke-width="1.5" stroke="currentColor" class="size-8 md:siz-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
            </svg>              
        </div>
    </ul>
</nav>
<div id="sidebar" class="h-[15vh] w-[100%] fixed right-0 bottom-[-15vh] bg-white z-50 transition-transform">
    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10 mt-4 absolute right-4" id="close">
        <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
    </svg>       -->
    <ul class="w-[100%] p-6 flex gap-2"> 
        {
            NavData.map((item) => (
                    <NavLink href={item.href} class:list={'font-semibold text-base text-black border rounded-lg p-4 bg-gray-50 w-[100%] text-center xs:p-2'}>{item.title}</NavLink>
            ))
        }
    </ul>
</div>

<style is:global>

    nav{
        /* border: rgba($color: #000000, $alpha: 0.3) solid 1.5px; */
        border-radius: 2rem;
        box-shadow: 0 0 3px #bcbcbc;
        left: 50%;
        transform: translateX(-50%);

        .logo{
            img{
                border-radius: 50%;
                margin-left: 4px;
            }
            h3{
                padding-left: 0.75rem;
            }
        }
        ul{
            list-style: none;
            li{
                display: flex;
                align-items: center;
                a{
                    text-decoration: none;
                }
            }
        }
    }
    .active{
        opacity: 1;
    }
    #sidebar{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
</style>

<script>

    const open = document.getElementById('open');
    const close = document.getElementById('close');
    const menu = document.getElementById('sidebar');

    // open.addEventListener('click', () => {
    //     console.log('open clicked')
    //     menu.classList.remove('hidden');
    //     // menu.classList.add('block');
    // })

    // close?.addEventListener('click', () => {
    //     console.log('close clicked');
    //     menu.classList.add('hidden');
    // })

    open?.addEventListener('click', () => {
        console.log('clicked')
        if(menu?.classList.contains('-translate-y-full')){
            menu?.classList.remove('-translate-y-full');
        }
        else{
            menu?.classList.add('-translate-y-full');
        }
    })    
    
</script>