---
const { title, description } = Astro.props;
---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description}>
    <title>{title} - Pratik Kuril</title>
    <meta property="og:image" content="https://pratikkuril.xyz/me.jpg" />
    <script defer data-domain="pratikkuril.xyz" src="https://plausible.io/js/script.js"></script>
</head>